<h1>Listing certificates</h1>

<table>
  <tr>
    <th>Fqdn</th>
    <th>Certificate</th>
    <th>Revoked</th>
    <th>Revoked at</th>
    <th>Valid until</th>
    <th>Creator</th>
    <th>Revoked user</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @certificates.each do |certificate| %>
  <tr>
    <td><%= certificate.fqdn %></td>
    <td><%= certificate.certificate %></td>
    <td><%= certificate.revoked %></td>
    <td><%= certificate.revoked_at %></td>
    <td><%= certificate.valid_until %></td>
    <td><%= certificate.creator %></td>
    <td><%= certificate.revoked_user %></td>
    <td><%= link_to 'Show', certificate %></td>
    <td><%= link_to 'Edit', edit_certificate_path(certificate) %></td>
    <td><%= link_to 'Destroy', certificate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Certificate', new_certificate_path %>
