<p id="notice"><%= notice %></p>

<p>
  <b>Fqdn:</b>
  <%= @certificate.fqdn %>
</p>

<p>
  <b>Certificate:</b>
  <%= @certificate.certificate %>
</p>

<p>
  <b>Revoked:</b>
  <%= @certificate.revoked %>
</p>

<p>
  <b>Revoked at:</b>
  <%= @certificate.revoked_at %>
</p>

<p>
  <b>Valid until:</b>
  <%= @certificate.valid_until %>
</p>

<p>
  <b>Creator:</b>
  <%= @certificate.creator %>
</p>

<p>
  <b>Revoked user:</b>
  <%= @certificate.revoked_user %>
</p>


<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
